/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 40%; 
  margin: 0 auto;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=================================
  main styling starts here
=================================*/  
.heading {
  padding: 37px 22px;
  color: #2C3A47;
  font-size: 31px;
  font-weight: 600;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.to-do-list ,.data-item-title {
  display: flex;
  justify-content: space-between;
}

label {
  color: #F277A1;
  font-size: 28px;
  font-weight: 600;
}

.input-to-do {
  padding: 15px 3%;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
}

.to-do-btn {
  padding: 12px 2%;
  border: 1px solid #3BD9B2;
  border-radius: 3px;
  background-color: #3BD9B2;
  color: #E15170;
  font-size: 25px;
  font-weight: 600;
  flex-basis: 31%;
}

.form.active .add-btn { display: none; }
.form.active .update-btn { display: block; }

.update-btn { display: none; }

.sub-heading {
  padding: 16px 0;
  color: #636159;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.to-do-item ,.title-list {
  padding: 7px 0;
  border: 1px solid #CDCDCD;
  display: flex;
  color: #161616;
  flex-basis: 20%;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
}

.to-do-item:nth-child(1) { border-left: none; }
.to-do-item:nth-child(3) { border-right: none; }
.to-do-item:nth-child(2),.title-list:nth-child(2) { flex-basis: 60%; }

.icon {
  display: block; 
  text-indent: -9999px;
 }

.icon::before {
  width: 15px;
  height: 15px;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  float: left;
  align-items: center;
  font-family: "FontAwesome";
  justify-content: center;
  text-indent: 0;
}

.edit::before {
  content: "\f040";
  border: 1px solid #62AF9D;
  margin-left: 10px;
  color: #62AF9D;
}

.delete::before {
  content: "\f55a";
  border: 1px solid #F76165;
  margin-left: 10px;
  color: #F76165;
}

.input-group { position: relative; }

.error {
  position: absolute;
  bottom: -21px;
  visibility: hidden;
}

.error.fail {
  color: #e71414;
  visibility: visible;
}

.data-item,
.data-item li ,.data-item-title{  width: 100%; }
/*=================================
  main styling ends here
=================================*/
/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .wrapper { width: 70%; }
}
/*media query for 1024px end here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .wrapper { width: 95%; }
  .to-do-item, .title-list { font-size: 16px; }
  .to-do-item:nth-child(2), .title-list:nth-child(2) { flex-basis: 58%; }
  .to-do-item, .title-list { flex-basis: 25%; }
}
/*media query for 768px end here*/